header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: non;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
@media only screen and (max-width:1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        transform: translatey(-100vh);
    }
    header .responsive_nav {
        transform: none;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 1.6rem;
        left: 3.1rem;
    }
    nav a {
        font-size: 1.8rem;
    }
}